<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea{
  height:100px;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.comment-list div{
  display:inline-block; /*block속성(크기 가능)을 유지하되, 공존할수있슴*/
  border:1px solid #CCC;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
$(function(){ //onLoad되면....
  CKEDITOR.replace("content");

  $($("input[type='button']")[0]).click(function(){ //등록버튼
    edit();
  });

  $($("input[type='button']")[1]).click(function(){ //목록버튼
    getList();
  });
});

function edit(){
  $("form").attr("action","/news/edit");  //url 은 개발자가 정한다, 단 서버랑 짝을 맞추자!!
  $("form").attr("method","post");  
  $("form").submit();//전송행위가 발생!!!
}

function getList(){

}

//댓글 등록 요청
function addComment(){
  $("#comment-form").attr({
    method:"post", 
    action:"/comments/regist"
  });
  $("#comment-form").submit(); //전송
}
</script>
</head>
<body>

<h3>Contact Form</h3>

<div class="container">
  <form id="detail-form">
    <input type="text" name="title" value="<%=news[1]%>">
    <input type="text"  name="writer" value="<%=news[2]%>">
    <textarea name="content"><%=news[3]%></textarea>

    <input type="button" value="등록">
    <input type="button" value="목록">
  </form>

  <form id="comment-form">
    <!-- 아래의 히든의 용도? 어떤 뉴스기사에 대한 댓글인지를 결정지음  -->
    <input type="hidden" name="news_id" value="<%=news[0]%>">

    <input type="text" name="msg" placeholder="댓글내용" style="width:70%">
    <input type="text" name="author" placeholder="작성자" style="width:15%">
    <input type="button" value="댓글등록" style="width:10%" onClick="addComment()">
  </form>
  
  <%for(var i=0;i<commentsList.length;i++){%>
  <div class="comment-list">
    <div style="width:70%">제목</div>    
    <div style="width:15%">작성자</div>    
    <div style="width:10%">등록일</div>    
  </div>
  <%}%>
</div>

</body>
</html>