<div class="topnav">
    <a class="active" href="/admin/main">진호님 로그아웃</a>
    <a href="/shop/main" target="_blank">Shop</a>
    <a href="/admin/main">Home</a>
    <a href="/admin/product/registform">상품관리</a>
    <a href="/admin/order/list">주문관리</a>
    <a href="/admin/member/list">회원관리</a>
    <a href="/admin/qna/list">상담게시판</a>
</div>